:root {
  --white: #fff;

  --bg-overlay: rgba(0 0 0 / 50%);

  --btn-bg: #f5f5f5;
  --btn-bg-hover: #e5e5e5;

  --alert-info-bg: #e7f7f8;
  --alert-info-color: #0d8b94;

  --alert-success-bg: #e9f9ef;
  --alert-success-color: #1b9e4b;

  --alert-warning-bg: #fef5e7;
  --alert-warning-color: #c47e09;

  --alert-danger-bg: #fdecec;
  --alert-danger-color: #bf3636;

  --subnav-arrow-size: 7px;
  --transition-config: 0.5s cubic-bezier(0.54,0,0.1,1);
  --sidebar-gap: 2rem;

  --rail-width: 86px;
  --card-arrow-size: 10px;

  --form-bg: #f5f5f5;
  --form-bg-focus: var(--white);
  --form-padding: .75rem 1rem;
  --form-gap: .75rem;

  --typography-spacing: 1.5rem;
  --typography-inline-spacer: .5rem;
  --typography-spacing-headings: 1rem;
  --typography-gallery-spacer: 2px;
  --typography-gallery-columns: 14rem;

  --comment-gap: 1.25rem;

  --font-roboto: 'Roboto', sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --shadow-low: 0px 1px 3px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 10%);
  --shadow-medium: 0px 4px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 10%);
  --shadow-high: 0px 4px 13px 0px rgb(0 0 0 / 25%), 0px 1px 4px 0px rgb(0 0 0 / 20%);
  --drop-shadow: drop-shadow(0 4px 6px rgb(0 0 0 / 10%)) drop-shadow(0 1px 2px rgb(0 0 0 / 10%));
  --text-shadow: 0px 1px 2px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 20%);
  --gradient-mask: linear-gradient(transparent, var(--bg-overlay));

  --code-bg: #2a2833;
  --code-color: #9a92be;
  --code-color-comment: #787878;
  --code-color-string: #ffcd81;
  --code-color-selector: #a38eff;
  --code-color-property: #a38eff;
  --code-color-tag: #6a6684;
  --code-color-tag-name: #eeebfe;
  --code-color-attr: #c3b6ff;
  --code-color-class: #eeebff;
  --code-color-number: #ffcd95;

  --duration: .3s;
}

[data-theme=dark] {
  --btn-bg: rgb(255 255 255 / 5%);
  --btn-bg-hover: rgb(255 255 255 / 10%);
  --form-bg: rgb(255 255 255 / 5%);

  --alert-info-bg: var(--bg-inset);
  --alert-info-color: hsl(184 50% 70% / 1);

  --alert-success-bg: var(--bg-inset);
  --alert-success-color: hsl(142 50% 70% / 1);

  --alert-warning-bg: var(--bg-inset);
  --alert-warning-color: hsl(38 80% 80% / 1);

  --alert-danger-bg: var(--bg-inset);
  --alert-danger-color: hsl(0 60% 80% / 1);
}
